[Desktop Entry]
Name=Space Haven Save Editor
Comment=Edit Space Haven save files
Exec=/home/deck/Downloads/Space-Haven-Save-Game-Editor/python/run_editor.sh
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=spacehaven;editor;save;
